<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="width: 100%; overflow-x: hidden; background-color: #e3f2fd">

    <!--navbar-->
    <nav class="navbar navbar-expand-lg " style="background-color:  #b8cfe0;>
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></p></a><p class="text-center h4 fw-bold mb-2 mx-1 mx-md-1 mt-1"><i class="fa-brands fa-phoenix-framework">Voyage</i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'index'%}"><button type="submit" class="btn fw-bold  ">Home</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'profile'%}"><button type="submit" class="btn fw-bold  ">User Profile</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'people'%}"><button type="submit" class="btn fw-bold">Follow</button></a>
            </li>  
            
          </ul>          
        </div>
        <a class="navbar-brand" href="{%url 'sign-out'%}"><p class="text-center h4 fw-bold mb-2 mx-1 mx-md-1 mt-1"> <button class="btn btn-info color-dark me-2" type="button">Logout</button></p></a>                  
      </div>
    </nav>
    <!-- end of navbar -->
    {%block body_block%}

    {%endblock%}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>